[package]
name = "server"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
clap = { version = "4.4", features = ["derive"] }
config = "0.13.3"
extism = "0.5.0"
pretty_env_logger = "0.5.0"
rumqttd = "0.18.0"
tracing-subscriber = "0.3.17"
